<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <title>Home</title>
</head>

<body>
    <h1>
        <a href="{% url 'home' %}">Home</a>
    </h1>
    <form method="POST">
        {% csrf_token %}
        <button style="height:120px;width:250px" type="submit" name="ingredients">Ingredients</button>&emsp;
        <button style="height:120px;width:250px" type="submit" name="Recipes">Recipes</button>
        <p></p>
        <button style="height:120px;width:250px" type="submit" name="Shopping List">Shopping List</button>
    </form>
</body>

</html>